main p {
    color:hotpink;
    font-weight: bold;
}
p {
    color: rgb(255, 119, 0);
}
h1 {
    color: rgb(5, 9, 61);
}
nav a {
    color: rgb(158, 22, 147);
}
#fourthq {
    color: rgb(0, 0, 0);
}
.secq {
    color: black;
}