body {
    font-family: Serif, sans-serif, Helvetica, Arial, Times New Roman, Georgia, Verdana, Tahoma; 
    background-color: #A8416e;
}

.Title {
    color: #ccff79;
}

main {
    color: rgb(255, 245, 249);
}

footer {
    color: #680133;
}

nav {
    color: #e2a1bd;
}

a {
    color: #95b948;
}

span {
    color: #ccff79;
}

#oldie {
    color: #ccff79;
}

#mainstream {
    color: #ccff79;
}

.list {
    color: #ccff79;
}

.listt {
    color: #95b948;
}