body {
    font-family: Serif, sans-serif, Helvetica, Arial, Times New Roman, Georgia, Verdana, Tahoma; 
    background-color: #A8416e;
    font-size: large;
    color: azure;
}

.Title {
    color: #ccff79;
}

footer {
    color: #680133;
}

nav {
    color: #e2a1bd;
}

a {
    color: #95b948;
}

span {
    color: #ccff79;
}

#oldie {
    color: #ccff79;
}

#mainstream {
    color: #ccff79;
}

.list {
    color: #ccff79;
}

.listt {
    color: #95b948;
}

.space {
    margin-bottom: 30px;
}