body {
    font-family: Arial, Helvetica, sans-serif;
    background: blue url("bluebg.jpg") repeat;
    color: white;
}

main{ 
    background: blue url("redFlowerSmall.png") no-repeat center; 
}

.pipeline{
    width: 300px;
}

.surfspot{
    list-style-image: url("dot.png");

}

.other{
    background-image: url("bluebg.jpg");
    background-color: #0447ff;
    background-repeat: repeat;
}

.moreother{
        background-image: url('redFlowerSmall.png');
    background-repeat: no-repeat;
    background-position: center;
}